.master{
    align-items: center;
    text-align: center;
}

.col-md-6 {
    max-width: 100%;
}


.footer{
    background-color: #081b2b;
}

footer.footer {
    background-color: #343a40;
    color: #ffffff;
}

/* Estilo para los enlaces dentro del pie de página */
footer.footer a {
    color: #ffffff; /* Color de los enlaces */
    text-decoration: none; /* Sin subrayado en los enlaces */
    transition: color 0.3s ease; /* Transición suave para el color de los enlaces */
}

footer.footer a:hover {
    color: #0c95ad; /* Color de los enlaces al pasar el ratón (amarillo) */
}

footer.footer ul {
    list-style: none; 
    padding: 0;
}

/* Estilo para los iconos de redes sociales */
footer.footer ul li i {
    margin-right: 10px; /* Espacio entre el ícono y el texto */
    font-size: 1.2rem; /* Tamaño del ícono */
}

/* Estilo para el contenido de contacto */
footer.footer p {
    margin-bottom: 10px; /* Espacio inferior para los párrafos */
}

/* Media query para ajustar el diseño en pantallas pequeñas */
@media (max-width: 768px) {
    footer.footer {
        text-align: center; /* Centrar el contenido en pantallas pequeñas */
    }
    footer.footer .col-md-3 {
        margin-bottom: 30px; /* Espacio adicional entre columnas */
    }
}

footer{
    background-color: #081b2b;
}
