.image-slider {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
    background-color: black;
}

.image-slider-content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slider-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slider-image.active {
    opacity: 0.6;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}
