@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #1e2b36;
    margin: 0;
    padding: 0;
    color: #f4f4f4;
}

.containerinfo{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;
}

.infoimg{
    opacity: 0.9;
    background-color: black;
    max-width: 500px; /* Ajusta el ancho máximo de la imagen al contenedor */
    height: auto; /* Ajusta la altura automáticamente */
    border-radius: 5px;
    display: block;
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

.infoa{
    margin-top: 20px;
}

ul{
    list-style-type: none;
}

.border{
    border-right: 2px;
    border-color: #1e2b36;
}

.titles {
    color: rgb(0, 0, 0);
    margin-top: 20px;
}

.mastercont{
    margin: 0 auto;
    background-color: #ffffff;
}

.container, .container-fluid {
    background-color: #1e2b36;
}

.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #ffffff;
}

.vr-viewer {
    margin: 20px 0;
    height: 500px;
}

.highlight {
    font-family: "Titillium Web", -apple-system, BlinkMacSystemFont, Sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #003ba8;
    text-transform: uppercase;
    flex: 1;
    text-align: left;
}

.info{
    flex: 1;
    text-align: justify;
    align-items: center;
}