/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

.navbar-container{
    width: 100%;
    display: block !important;
}

/* Contenedor principal */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.containerinfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.info {
    flex: 1 1 300px; /* Flex-grow, flex-shrink, flex-basis */
    margin: 10px;
}

.infoimg {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.highlight {
    text-align: center;
    font-weight: bold;
    margin: 10px 0;
}

.cta {
    text-align: center;
    margin: 20px 0;
}

.cta a {
    color: #00645f;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.cta a:hover {
    background-color: #66666650;
    text-decoration: none;
}

/* Estilos para el slider */
.slider {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.image-slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.image-slider-content {
    display: flex;
}

.slider-image {
    flex: 0 0 100%;
    max-width: 100%;
    height: auto;
    scroll-snap-align: center;
}

/* Media queries */
@media (max-width: 768px) {
    .containerinfo {
        flex-direction: column;
    }

    .info {
        flex: 1 1 100%;
    }

    .highlight {
        font-size: 1.2rem;
    }

    .cta a {
        width: 100%;
        display: block;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    .highlight {
        font-size: 1rem;
    }

    .cta a {
        font-size: 0.9rem;
    }
}
