.body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.select{
    user-select: none;
    -webkit-user-select: none; /* Para navegadores WebKit (como Safari y Chrome) */
    -moz-user-select: none; /* Para navegadores basados en Gecko (como Firefox) */
    -ms-user-select: none;
}

.header {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.model-title {
    font-size: 1.5em;
    color: #FFF;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.vr-viewer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

a-scene {
    width: 100%;
    height: 100%;
}

.nav {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 10;
}

.nav-button {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-button:hover {
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.05);
}

.nav-button:focus {
    outline: none;
}

.nav-button:active {
    background-color: rgba(200, 200, 200, 0.8);
}
